.input-label {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 10px;

  // .input-label--count

  &--count {
    display: flex;
    width: 100%;
    align-items: center;

  }

  // .input-label--upload

  &--upload {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 2px solid #3e9cdc;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #272733;
    text-align: center;
    padding: 12px 10px;
    cursor: pointer;

    &:hover {
      background-color: darken(#ffffff, 5%);
    }

    &:active {
      background-color: darken(#ffffff, 10%);
    }
  }

}