.copyright {

  // .copyright__inner

  &__inner {
    padding: 15px 0;
  }

  // .copyright__text

  &__text {
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 10px;
  }
}