.header {
  width: 100%;
  height: auto;
  background: rgba(16, 16, 29, 0.9);
  position: fixed;
  z-index: 10;

  // .header__inner

  &__inner {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 34px;
    padding-bottom: 34px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;

    @media (max-width:768px) {
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 25px;
      padding-bottom: 25px;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  // .header__brand

  &__brand {
    font-family: "raleway", "Helvetica", sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;
    flex-grow: 1;

    @media (max-width: 575px) {
      font-size: 22px;
      line-height: 24px;
    }
  }

  // .header__brand-color

  &__brand-color {
    color: #42a9ed;
  }

}